<section class="container mt-4">
	<table class="table table-striped table-light mt-4">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom de produit</th>
				<th>Prix</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td>{{ panier.id }}</td>
				{% for product in panier.product %}
					<td>{{ product.name }}</td>
					<td>{{ product.price }}€</td>
				{% endfor %}

				<td>
					<div class="d-flex justify-content-between">
						<a href="{{ path('app.orders.index') }}" class="btn btn-warning">Payer</a>
						{% include 'Backend/Product/_deleteForm.html.twig' %}
					</div>
				</td>
			</tr>

		</tbody>
	</table>
</section>
