{% extends 'base.html.twig' %}

{% block body %}
	<main class="pt-5 mx-lg-5">
		<h1>
			Paiement réussi</h1>
		<a href="{{ path('app.homepage')}}">
			Retour à la boutique</a>
	</main>
{% endblock %}
